[submodule "schema/redfish-csdl"]
	path = schema/redfish-csdl
	url = https://github.com/DMTF/Redfish-Publications
[submodule "schema/swordfish-csdl"]
	path = schema/swordfish-csdl
	url = https://github.com/SNIA/Swordfish-Publications
